.subreddit-list {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25rem;
    padding: 20px;
    background: linear-gradient( to bottom right, #03d17b 0%, 10.780609011650085%, #084148 39.56121802330017%, 59.97876822948456%, #0d1c47 80.39631843566895%, 90.19815921783447%, #301f6f 100%);
    background-blend-mode: overlay;
    border-radius: 12px;
    margin-top: 10rem;
    margin-left: 3rem;
    min-height: 60vh;
    letter-spacing: 2px;
    color: #00e281;
}

@media only screen and (max-width: 960px) {
    .subreddit-list {
        display: none;
    }
}

.subreddit-links {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 10px;
    margin-top: 1rem;
}

.sideNav-title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subreddit-links>li {
    cursor: pointer;
}

.subreddit-icon {
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

div.subreddit-icon {
    height: 32px;
    display: inline-flex;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
}

button:hover {
    color: #00e281;
}