.subreddit-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: visible;
    background: #19191c;
    color: #f9f9f9;
    margin-top: 64px;
    font-family: "Rubik", sans-serif;
}

.sideNav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 270px;
    height: 100%;
    padding: 20px;
}

@media only screen and (max-width: 960px) {
    .side-nav {
        display: none;
    }
}

.subreddit-links {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    width: 270px;
    height: 100%;
    gap: 8px;
    margin-top: 42px;
}

.subreddit-links>li {
    /* display: inline-flex; */
    cursor: pointer;
    padding: 15px 20px;
}

.subreddit-icon {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

div.subreddit-icon {
    height: 40px;
}


/* span:hover {
    background: #303030;
    width: 100%;
} */