/* .post-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    color: #f9f9f9;
    font-size: 14px;
    margin-top: 20px;
    padding: 20px 85px 20px 25px;
    background: #101029;
} */


/* .post-body {
    display: flex;
    flex-direction: column;
    background: linear-gradient( to bottom, #1d3456 0%, 9.649122506380081%, #132745 19.298245012760162%, 41.5204681456089%, #101d37 63.74269127845764%, 67.34892725944519%, #0c132b 70.95516324043274%, 85.47758162021637%, #090d1b 100%);
}

.vote-panel {
    top: 20;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #706e6f;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    font-size: 12px;
    height: 40%;
    width: 9%;
}

.post-image img {
    width: 100%;
} */