.post-container {
    display: flex;
    width: 100%;
    height: auto;
    background: linear-gradient( to bottom right, #03d17b 0%, 10.780609011650085%, #084148 39.56121802330017%, 59.97876822948456%, #0d1c47 80.39631843566895%, 90.19815921783447%, #301f6f 100%);
    background-blend-mode: lighten;
    color: #f9f9f9;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}


/* .vote-panel {
    max-width: 17%;
    height: 100%;
    padding-right: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #18181a;
}
 */


/* .vote-panel>i {
    margin: 10px 0;
}

.post-body {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: left;
}

.post-details {
    align-self: flex-start;
}

.post-header {
    margin: 10px 0 15px 0;
}

.comment-count {
    margin: 15px 0;
}

.comment-count>i {
    margin-right: 7px;
}

.loading {
    margin-top: 20%;
    font-size: 2rem;
    color: white;
}

.post-details {
    cursor: pointer;
}

.post-image {
    display: flex;
    justify-content: center;
}

.post-image img {
    width: 100%;
}

.post-preview {
    display: flex;
    justify-content: center;
} */

.post-image img {
    width: 100%;
}