@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

#root {
    height: 100vh;
}

body {
    background: #303030;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

i {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 64px;
}

.post-container {
    display: flex;
    width: 38%;
    height: auto;
    background: #19191c;
    color: #f9f9f9;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #858181;
    margin-top: 20px;
    padding: 15px 20px 10px 15px;
}

.vote-panel {
    max-width: 17%;
    height: 100%;
    padding-right: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #18181a;
}

.vote-panel>i {
    margin: 10px 0;
}

.post-body {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: left;
}

.post-details {
    align-self: flex-start;
}

.post-header {
    margin: 10px 0 15px 0;
}

.comment-count {
    margin: 15px 0;
}

.comment-count>i {
    margin-right: 7px;
}

.loading {
    margin-top: 20%;
    font-size: 2rem;
    color: white;
}

.post-details {
    cursor: pointer;
}

.post-image {
    display: flex;
    justify-content: center;
}

.post-image img {
    width: 100%;
}

.post-preview {
    display: flex;
    justify-content: center;
}

.subreddit-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-error {
    color: white;
    font-size: 24px;
}