.search-container {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 690px;
}

.search-bar {
    margin-left: 16px;
    margin-right: 16px;
    width: auto;
    height: auto;
    border: 1px solid #858181;
    border-radius: 1.25em;
}

.inner-content {
    display: flex;
    align-items: center;
    box-shadow: none;
    height: 40px;
    margin-left: 16px;
    width: 100%;
    z-index: 2;
}

input {
    font-size: 14px;
    line-height: 14px;
    margin-left: 6px;
    outline: none;
    border: transparent;
    background: transparent;
    border-radius: 1.25em;
    height: 40px;
    width: 93%;
    color: #f9f9f9;
}