.header {
    display: flex;
}

nav {
    display: flex;
    /* flex: 0 1 100%; */
    position: fixed;
    width: 100%;
    /* flex-grow: 1; */
}

.home {
    flex-shrink: 0 1 auto;
    position: absolute;
    /* max-width: 290px; */
    /* height: auto; */
    align-items: center;
    padding: 55px 15px 25px 15px;
    margin-left: 3rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: linear-gradient(to bottom right, #03a9dd 0%, 55%, #013846 100%);
}

.fa-reddit-alien {
    color: black;
}

nav>ul {
    display: flex;
    list-style: none;
}

.reddit {
    margin-right: 24px;
    margin-left: 5px;
    line-height: 1;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}


/* SearchBar */

.search-container {
    flex: 1 1 auto;
    margin-left: auto;
    margin-right: 10rem;
    max-width: 390px;
    padding: 15px 25px 10px 25px;
    background: linear-gradient(to bottom right, #03a9dd 0%, 55%, #013846 100%);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

input {
    font-size: 14px;
    line-height: 14px;
    margin-left: 6px;
    height: 40px;
    /* flex: 0 1 90%; */
    width: 90%;
    outline: none;
    background: transparent;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #000;
}

form>i {
    color: #000;
}